@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.input {
  width: 400px;
  margin: 0 auto;
  font-family: Lato;
  font-size: 1.4em;
}
.input input {
  width: 400px;
  height: 80px;
  font-family: Lato;
  font-size: 1.8em;
  background-color: transparent;
  border: none;
  border-top: 3px solid #4ea5d9;
  border-bottom: 3px solid #4ea5d9;
  outline: none;
  color: #4ea5d9;
  padding-left: 10px;
}
.input input:focus + label {
  top: -130px;
  font-size: 1.2em;
  transition: all 0.3s;
  text-align: left;
}
.input label {
  display: block;
  position: relative;
  left: 10px;
  top: -70px;
  font-size: 1.8em;
  cursor: text;
  color: #44cfcb;
  transition: all 0.3s;
  text-align: center;
}

.button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: #44cfcb;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
}
.button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform-style: flat;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(255, 255, 255, .1);
  border-radius: 100%;
  transition: width 0.3s ease, height 0.3s ease;
}
.button:focus, .button:hover {
  background: #2edcfb;
}
.button:active:after {
  width: 200px;
  height: 200px;
}

.no-text-highlight {
  user-select: none;
}